* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Trebuchet MS";
  }

  body {
    margin: 0;
    font-family: "Trebuchet MS";
  }

  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(63, 184, 214, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }

  .header-right p {
    line-height: 30px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    font-size: 20px;
  }

  .header-left p {
    line-height: 30px;
    padding: 0 -25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    font-size: 20px;
  }

  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://img.freepik.com/free-vector/blue-fluid-background_53876-114597.jpg);
    background-size: cover;
    color: white;
    text-align: center;
  }

  .top-wrapper h1 {
    opacity: 0.7;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color:blue;
  }

  .top-wrapper h2 {
    opacity: 0.7;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color:blue;
  }

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

#contact-us {
    padding: 160px 0px;
  }
  
  #contact-us h5 {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    line-height: 26px;
  }
  
  .contact-text {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
  }
  
  .contact-text p {
    margin-bottom: 28px;
  }
  
  .contact-form input,
  .contact-form textarea {
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
  }
  
  /* 
---------------------------------------------
Checkbox
--------------------------------------------- 
*/
.container {
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }
  
  .container span {
    margin-left: 1rem;
  }
  
  /* Checkbox css */
  
  .check-input {
    display: none;
  }
  .checkbox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    transition: 0.3s all;
  }
  .checkbox svg {
    width: 20px;
    height: 20px;
  }
  .check-input:checked + .checkbox {
    background: #26bfbf;
    border: 2px solid #26bfbf;
  }
  .check-input:checked + .checkbox svg path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke: #fff;
    stroke-width: 3;
    animation: check 4s forwards;
  }
  .checkbox::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    display: block;
    width: 60px;
    height: 60px;
    background: #26bfbf66;
    z-index: -1;
  }
  .check-input:checked + .checkbox::before {
    animation: ripple 0.3s;
  }
  @keyframes check {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes ripple {
    to {
      transform: scale(1);
    }
  }

/* 
---------------------------------------------
dropdown
--------------------------------------------- 
*/
ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
  .dropdown {
    position: relative;
  }
  .label {
    cursor: pointer;
    background: rgb(255, 254, 254);
    padding: 0.8rem 1rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  .items a {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s;
  }
  .items a:hover {
    border-left: 5px solid;
    background: rgb(37, 37, 37);
  }
  
  .fa-brands,
  .fa-solid {
    margin-right: 10px;
  }
  
  .items {
    background: rgb(52, 52, 52);
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
    height: 0;
    position: absolute;
    top: 48px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s;
  }
  
  .items::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(52, 52, 52);
    transform: rotate(45deg);
    top: -7px;
    left: 20px;
    z-index: -1;
  }
  
  .dropdown:hover > .items {
    opacity: 1;
    visibility: visible;
    height: unset;
    transform: scaleY(1);
  }
  
  .dropdown:hover > .label {
    background: rgb(255, 115, 0);
  }